body {
    margin: 0;
    /*Background taken from https://screamingbrainstudios.itch.io/seamless-space-backgrounds*/
    background-image: url(./Files/Background.png);
    overflow: hidden;
}

.paddle {
    --position: 50;

    position: absolute;
    top: calc(var(--position) * 1vh);
    transform: translateY(-50%);
    width: 2vh;
    height: 10vh;
    background-size: auto;
    background-repeat: no-repeat;
}

.paddle.left {
    left: 1.4vw;
    /*image taken from https://gamesupply.itch.io/ultimate-space-game-mega-asset-package*/
    background-image: url(/Files/playerPaddle.png);
    background-position: center right;
}

.paddle.right {
    right: 1.4vw;
    /*image taken from https://gamesupply.itch.io/ultimate-space-game-mega-asset-package*/
    background-image: url(/Files/aiPaddle.png);
    background-position: center left;
}

.ball {
    --x: 50;
    --y: 50;

    position: absolute;
    /*image taken from https://gamesupply.itch.io/ultimate-space-game-mega-asset-package*/
    background-image: url("./Files/Ball.gif");
    background-position: center;
    background-size: cover;
    left: calc(var(--x) * 1vw);
    top: calc(var(--y) * 1vh);
    transform: translateY(-50%, -50%);
    width: 3vh;
    height: 3vh;
    border-radius: 50%;
}

.score {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 5vh;
    color: white;
    font-family: OCR A Std, monospace;
}

.score>* {
    flex-grow: 1;
    padding: 0 2vh;
    margin: 1vh 0;
    opacity: 0.5;
}

.score> :first-child {
    text-align: right;
    border-right: .5vh solid;
}

#howToWin {
    display: flex;
    justify-content: center;
    color: white;
    opacity: 0.5;
    font-size: 2.5vh;
    font-family: OCR A Std, monospace;
}

#result {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 5vh;
    margin-top: 20vh;
    margin-bottom: 1vh;
    font-family: OCR A Std, monospace;
}

#restartButton {
    display: flex;
    justify-content: center;
    border-radius: 10%;
    font-size: 4vh;
    font-family: OCR A Std, monospace;
    padding-top: 1vh;
}

button:hover {
    cursor: pointer;
    background-color: grey;
}